body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.albums-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Стили для кнопки создания альбома */
.create-album {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    height: 200px;
    width: 200px; 
}

.album{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 2px dashed #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    height: 200px;
    width: 200px; 
}

.create-album span {
    font-size: 18px;
    color: #555;
}



