body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.albums-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.create-album {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    height: 200px;
    width: 200px; 
}

.album{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    height: 200px;
    width: 200px; 
}

.create-album span {
    font-size: 18px;
    color: #555;
}

.images-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    margin-top: 20px;
}

.image-item {
    height: 350px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-item img {
    max-width: 100%;
    height: auto;
    max-height: 180px;
    border-radius: 8px;
    object-fit: contain;
    margin: auto;
}

.album-link{
    text-decoration: none;
    color: inherit;
    display: block;
}

.album-link:hover .album{
    background-color: #f0f0f0;
    border-color: #007bff;
}

.delete-button {
    background-color: #ff4d4d; 
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
}

.delete-button:hover {
    background-color: #cc0000; 
}

.back-to-albums {
    margin-bottom: 20px; 
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}

.delete-album-button {
    display: block;
    width: 80%;
    height: 70px;
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(255, 77, 77, 0.8); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    transition: background-color 0.3s ease;
}
.delete-album-button:hover {
    background-color: rgba(204, 0, 0, 0.8); 
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.add-image-button{
    width: 40%;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    margin: auto;
}

.edit-description-button{
    width: 40%;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    margin: auto;
}

.album-thumbnail{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    transition: opacity 0.1s ease-in-out;
}

.album-thumbnail:hover{
    opacity: 1;
}


/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); 
}

.modal-content {
    position: relative;
    background-color: #fff;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 1000px; 
    max-height: 800px; 
    overflow-y: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-modal {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal:hover {
    color: #000;
}

#modal-image-container {
    text-align: center;
    margin-bottom: 20px;
}

#modal-image {
    max-width: 100%;
    max-height: 600px; 
    border-radius: 10px;
}

#modal-image-info {
    text-align: center;
}

#modal-image-info h3 {
    margin: 10px 0;
    font-size: 24px;
}

#modal-image-info p {
    margin: 5px 0;
    font-size: 18px;
    color: #555;
}