<head>
    <link rel="stylesheet" href="../css/image_modal.css">
</head>
<body>
    <div id="image-modal" class="image-modal">
        <div class="image-modal-content">

            <div class="image-modal-panel">
                <img src="" alt="Изображение">
            </div>

            <div class="image-modal-info-panel">
                <button class="image-modal-close-btn" onclick="closeImageModal()">X</button>
                <h2>Информация</h2>
                <div class="image-modal-image-name-section">
                    <h3 id="image-modal-image-name-text"></h3>
                </div>
                <div class="image-modal-description-section">
                    <h5 id="image-modal-description-text"></h5>
                </div>
                <div class="image-modal-likes-section">
                    <span id="image-modal-like-count">0</span> лайков
                    <button id="image-modal-like-button" onclick="likeImage()">❤️ Поставить лайк</button>
                </div>

                <div class="image-modal-comments-section">
                    <h3>Комментарии</h3>
                    <div id="image-modal-comments-list"></div>
                    <textarea id="image-modal-comment-input" placeholder="Оставьте комментарий"></textarea>
                    <button onclick="addComment()">Оставить комментарий</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/image_modal.js"></script>
</body>