<head>
    <link rel="stylesheet" href="css/upload_description_modal.css">
</head>
<body>
    <div id="editDescriptionModal" class="modal">
        <div class="modal-content">
            <button class="close-btn" onclick="closeEditDescriptionModal()">X</button>
            <h2>Редактировать описание альбома</h2>
            <textarea id="edit-description-textarea" placeholder="Введите новое описание"></textarea>
            <button onclick="saveDescriptionChanges()">Сохранить</button>
        </div>
    </div>
</body>
